.app {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #edf6f9;
  padding-bottom: 50px;
  min-height: 100vh;
}
.app .navbar {
  width: 100%;
  margin-bottom: 50px;
}
