.form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.form textarea {
    width: 90%;
    height: 100%;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid #2ec4b6;
    border-right: 1px solid #2ec4b6;
    color: #2ec4b6;
    resize: none;
}

.form textarea::placeholder {
    color: #2ec4b6;
}

.form button {
    height: 100%;
    width: 10%;
    border-bottom-right-radius: 20px;
    background-color: #2ec4b6;
    border: none;
    color: #fff;
}

.form button:focus,
textarea:focus {
    outline: 3px solid #cbf3f0;
}

